.align-right {
  text-align: right;
}
.el-input, .el-select {
  width: 100%
}
body {
  font-family: initial;
}
.card {
  background-color: #000000c7;
  color: white;
  min-height: 508px;
}
.el-form-item__label {
  color: white;
}
.el-tabs__item {
  color: white;
}
/*:root {
  --tamanho: 50%;
  --cor: #660066;
}

.exemplo-1 {
  margin: var(--tamanho); // retorna 50%
}

.exemplo-2 {
  color: var(--cor); // retorna #660066
}*/
